
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrationFaild</title>
</head>
<body>
    <div> 
        報名失敗! 通報主糾!!!
    </div>
</body>
</html>
